<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554891898209-c9gbvkap0s6p6ribbinoajrnf7makqql.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554891898209-c9gbvkap0s6p6ribbinoajrnf7makqql</string>
	<key>API_KEY</key>
	<string>AIzaSyC58yN16BHG0ExFxT3FtHYnHJQ0bAmBBdk</string>
	<key>GCM_SENDER_ID</key>
	<string>554891898209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tester</string>
	<key>PROJECT_ID</key>
	<string>zidallieappproj</string>
	<key>STORAGE_BUCKET</key>
	<string>zidallieappproj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554891898209:ios:17b45591fef07ccd7b2920</string>
	<key>DATABASE_URL</key>
	<string>https://zidallieappproj-default-rtdb.firebaseio.com</string>
</dict>
</plist>